
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Index</th>
                <th scope="col">Flavors</th>
                <th scope="col">Kgs</th>
                <th scope="col">Price(Ksh)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Vanilla </td>
                <td>1</td>
                <td>1600</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Blueberry</td>
                <td>1</td>
                <td>2500</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Blackforest</td>
                <td>1</td>
                <td>1800</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Orange</td>
                <td>1</td>
                <td>1800</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Fruit Cake</td>
                <td>1</td>
                <td>2500</td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>Chocolate</td>
                <td>1</td>
                <td>2300</td>
              </tr>
              
            </tbody>
          </table>