<!-- 
    <div class="container">
        <h1>User Login</h1>
        <div id="mother"> 
            <form  name="form" method="post" class="login_form" onsubmit="return validateForm()" >
                <div class="mail">Amount</div>
                <input type="text" name="Amount" class="email">
                <div id="email_error">Plese enter Email or Phone</div>
                <div class="password">Password</div>
                <input type="password" name="password" class="pass"> 
                <div id="password_error">Plese enter Password</div>       
                <div class="forget"><a href="#">Forgot Password?</a></div>
                <div>
                    <div class="btn"><button type="button" class="block">LOGIN</button></div>
                    <div id="member">Not a member? <a href="#">Sign up now</a></div>
                    <div class="social">Or Sign Up Using</div>
                   
                </div>
                  </form>
        </div>
        
    </div> -->
    <!-- <div>
        <h2>Buy Goods and Services</h2>
        <hr>
        <label for="phone" class="">Enter Your Mpesa phone number</label>
        <input type="tel" class="form-control">
    </div> -->
  
    <div class="container">
        <div class="row">
            <div class=" form-group">
                <h4>Buy Goods and Services</h4>
                <hr>
                <label for="phone">Enter Your Mpesa Phone Number</label>
                <input type="tel" id="phone" class="form-control" placeholder="Enter Number eg 0701.." #phoneInput>
            </div>
            <div class="form-group">
                <label for="amount">Enter Amount</label>
                <input type="number" class="form-control" placeholder="Amount in ksh eg 10" #amounttInput>
            </div>
            <button class="btn btn-success btn-lg">Send Money</button>
        </div>
    </div>