 <div class="container">
        <div class="row">
            <div class=" form-group">
                <h4>Buy Goods and Services</h4>
                <hr>
                <label for="phone">Enter Your Mpesa Phone Number</label>
                <input type="tel" id="phone" class="form-control" placeholder="Enter Number eg 0701.." #phoneInput>
            </div>
            <div class="form-group">
                <label for="amount">Enter Amount</label>
                <input type="number" class="form-control" placeholder="Amount in ksh eg 10" #amounttInput>
            </div>
            <button class="btn btn-success btn-lg">Send Money</button>
        </div>
    </div>